<form role="form" name="payeeForm">
	<div class="modal-header">
		<h4>Delete Payee?</h4>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>Name</dt>
			<dd>{{payee.name}}</dd>
		</dl>
	</div>
	<div class="modal-footer">
		<span ng-if="errorMessage" class="text-danger">{{errorMessage}}</span>
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-danger" type="submit" ng-click="delete()"><i class="glyphicon glyphicon-remove"></i> Delete</button>
	</div>
</form>
