<form role="form" name="payeeForm">
	<div class="modal-header">
		<h4>{{::mode}} Payee</h4>
	</div>
	<div class="modal-body">
		<!-- Name -->
		<div class="form-group has-feedback" ng-class="{'has-error': payeeForm.name.$invalid}">
			<label for="name">Name</label>
			<input id="name" name="name" class="form-control" ng-model="payee.name" placeholder="Payee" required autofocus og-input-autoselect>
			<span ng-show="payeeForm.name.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>
	<div class="modal-footer">
		<span ng-if="errorMessage" class="text-danger">{{errorMessage}}</span>
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit" ng-disabled="payeeForm.$invalid" ng-click="save()"><i class="glyphicon glyphicon-ok"></i> Save</button>
	</div>
</form>
