.bundle
.git
.github
.vscode
bin
config/environments/development.rb
config/environments/test.rb
coverage
cypress
doc
lib
log
node_modules
public
src/**/*.test.ts
src/mocks
spec
tmp
vendor
**/*~
.codeclimate.yml
.DS_Store
.dccache
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.rspec
.rubocop.yml
cypress.config.ts
fly*.toml
karma*.js
LICENCE
README.md
tsconfig.eslint.json
webpack.coverage.js
webpack.dev.js
webpack.test.js