<form role="form" name="payeeForm" autocomplete="off">
	<div class="modal-header">
		<h4>{{::vm.mode}} Payee</h4>
	</div>
	<div class="modal-body">
		<!-- Name -->
		<div
			class="form-group has-feedback"
			ng-class="{'has-error': payeeForm.name.$invalid}"
		>
			<label for="name">Name</label>
			<input
				id="name"
				name="name"
				class="form-control"
				ng-model="vm.payee.name"
				placeholder="Payee"
				required
				autofocus
				og-input-autoselect
			/>
			<span
				ng-show="payeeForm.name.$invalid"
				class="glyphicon glyphicon-remove form-control-feedback"
			></span>
		</div>
	</div>
	<div class="modal-footer">
		<span ng-if="vm.errorMessage" class="text-danger">{{vm.errorMessage}}</span>
		<button class="btn btn-default" type="button" ng-click="vm.cancel()">
			Cancel
		</button>
		<button
			class="btn btn-primary"
			type="submit"
			ng-disabled="payeeForm.$invalid"
			ng-click="vm.save()"
		>
			<i class="glyphicon glyphicon-ok"></i> Save
		</button>
	</div>
</form>
