@import "~/loot/css/variables.css";

table.accounts {
	tr.closed-account {
		color: var(--text-muted);

		a {
			color: inherit;
		}
	}

	td,
	th {
		&.amount {
			width: 25%;
			text-align: right;
		}
	}
}
