input.calculator {
	+ .popover {
		text-align: right;
		min-width: 150px;

		.popover-title {
			font-weight: bold;
		}

		.popover-content {
			white-space: pre;
			max-width: none;
		}
	}

	&.left + .popover {
		left: 0 !important;
	}

	&.right + .popover {
		left: inherit !important;
		right: 0 !important;
	}
}
