<form role="form" name="loginForm">
	<div class="modal-header">
		<h4>Login</h4>
	</div>
	<div class="modal-body">
		<!-- User Name -->
		<div class="form-group has-feedback" ng-class="{'has-error': loginForm.userName.$invalid}">
			<label for="userName">Login</label>
			<input id="userName" name="userName" class="form-control" ng-model="vm.userName" placeholder="Login" required autofocus og-input-autoselect>
			<span ng-show="loginForm.userName.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
		<!-- Password -->
		<div class="form-group has-feedback" ng-class="{'has-error': loginForm.password.$invalid}">
			<label for="password">Password</label>
			<input name="password" type="password" class="form-control" ng-model="vm.password" placeholder="Password" required og-input-autoselect>
			<span ng-show="loginForm.password.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>
	<div class="modal-footer">
		<div ng-if="vm.errorMessage" class="text-danger">{{vm.errorMessage}}</div>
		<span ng-if="vm.loginInProgress" class="pull-left text-muted" og-loading-spinner></span>
		<button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid || vm.loginInProgress" ng-click="vm.login()"><i class="glyphicon glyphicon-log-in"></i> Login</button>
	</div>
</form>
