<form role="form" name="transactionForm">
	<div class="modal-header">
		<h4>Flag Transaction</h4>
	</div>
	<div class="modal-body">
		<div class="form-group has-feedback">
			<textarea name="flag" class="form-control" ng-model="flag.memo" placeholder="Memo" autofocus og-input-autoselect></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		<button ng-if="flagged" class="btn btn-danger" type="button" ng-click="delete()"><i class="glyphicon glyphicon-remove"></i> Delete</button>
		<button class="btn btn-primary" type="submit" ng-click="save()"><i class="glyphicon glyphicon-ok"></i> Save</button>
	</div>
</form>
