<form role="form" name="transactionForm">
	<div class="modal-header">
		<h4>Reconcile Account</h4>
	</div>
	<div class="modal-body">
		<div class="form-group has-feedback" ng-class="{'has-error': transactionForm.balance.$invalid}">
			<label for="balance">Closing Balance</label>
			<input name="balance" class="form-control" ng-class="{'negative': account.closingBalance < 0}" ng-model="account.closingBalance" placeholder="Amount" required og-input-currency autofocus>
			<span ng-show="transactionForm.balance.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>
	<div class="modal-footer">
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" type="submit" ng-click="start()"><i class="glyphicon glyphicon-check"></i> Start</button>
	</div>
</form>
