<table id="transactions" class="table table-striped table-bordered table-hover table-condensed" og-table-navigable og-table-editable="saveChanges(index)">
	<thead id="transactions-header">
		<tr>
			<th class="transaction-date">Date</th>
			<th class="details">Details</th>
			<th class="amount">Debit</th>
			<th class="amount">Credit</th>
			<th class="amount">Balance</th>
		</tr>
		<tr og-table-loading="loading['prev']" colspan="5"></tr>
		<tr>
			<td colspan="5">
				<button class="btn btn-primary" ng-click="getTransactions('prev')">Previous</button>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr class="transaction" ng-repeat="transaction in transactions">
			<td>
				<og-input-editable type="date" ng-model="transaction.transaction_date"></og-input-editable>
			</td>
			<td class="details">
				<table class="table-condensed">
					<tr>
						<td class="payee" colspan="2">
							<og-input-editable type="typeahead" ng-model="transaction.payee" source="payees"></og-input-editable>
						</td>
					</tr>
					<tr>
						<td class="category">
							<og-input-editable type="typeahead" ng-model="transaction.category" source="categories" typeahead-on-select="categorySelected(item, $index)"></og-input-editable>
						</td>
						<td class="category">
							<og-input-editable ng-if="transaction.transaction_type == 'Basic'" type="typeahead" ng-model="transaction.subcategory" source="categories" source-params="transaction.category.id"></og-input-editable>
							<og-input-editable ng-if="transaction.transaction_type == 'Transfer'" type="typeahead" ng-model="transaction.account" source="accounts"></og-input-editable>
							<button ng-if="transaction.transaction_type == 'Split'" ng-click="toggleSubtransactions($event, transaction)" class="btn btn-xs btn-default">
								<i class="glyphicon" ng-class="{'glyphicon-chevron-down': !transaction.showSubtransactions, 'glyphicon-chevron-up': transaction.showSubtransactions}"></i>
							</button>
						</td>
					</tr>
					<tr ng-if="transaction.transaction_type == 'Split'" ng-show="transaction.showSubtransactions">
						<td colspan="2">
							<table class="table-condensed">
								<thead>
									<tr>
										<th>Category</th>
										<th>Subcategory</th>
										<th>Description</th>
										<th class="amount">Amount</th>
									</tr>
									<tr og-table-loading="transaction.loadingSubtransactions" colspan="4"></tr>
								</thead>
								<tbody>
									<tr ng-repeat="subtransaction in transaction.subtransactions">
										<td>
											<og-input-editable type="typeahead" ng-model="subtransaction.category" source="categories" typeahead-on-select="categorySelected(item, $index)"></og-input-editable>
										</td>
										<td>
											<og-input-editable ng-if="subtransaction.transaction_type == 'Basic'" type="typeahead" ng-model="subtransaction.subcategory" source="categories" source-params="subtransaction.category.id"></og-input-editable>
											<og-input-editable ng-if="subtransaction.transaction_type == 'Transfer'" type="typeahead" ng-model="subtransaction.account" source="accounts"></og-input-editable>
										</td>
										<td>
											<og-input-editable type="text" ng-model="subtransaction.memo"></og-input-editable>
										</td>
										<td class="amount">
											<og-input-editable type="currency" ng-model="subtransaction.amount"></og-input-editable>
										</td>
									</tr>
									<tr ng-if="editSplits">
										<!-- empty row for adding new split -->
									</tr>
								</tbody>
								<tfoot ng-if="editSplits">
									<tr>
										<td colspan="3">Assigned:</td>
										<td class="amount">{{assigned | currency}}</td>
									</tr>
									<tr>
										<td colspan="3">Unassigned:</td>
										<td class="amount">{{unassigned | currency}}</td>
									</tr>
									<tr>
										<td colspan="3">Total:</td>
										<td class="amount">{{transaction.total | currency}}</td>
									</tr>
								</tfoot>
							</table>
						</td>
					</tr>
					<tr>
						<td class="memo" colspan="2">
							<og-input-editable type="text" ng-model="transaction.memo"></og-input-editable>
						</td>
					</tr>
				</table>
			</td>
			<td class="amount">
				<og-input-editable ng-if="transaction.direction == 'outflow'" type="currency" ng-model="transaction.amount"></og-input-editable>
			</td>
			<td class="amount">
				<og-input-editable ng-if="transaction.direction == 'inflow'" type="currency" ng-model="transaction.amount"></og-input-editable>
			</td>
			<td class="amount">{{transaction.balance | currency}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">
				<button class="btn btn-primary" ng-click="getTransactions('next')">Next</button>
			</td>
		</tr>
		<tr og-table-loading="loading['next']" colspan="5"></tr>
	</tfoot>
</table>
