<form role="form" name="scheduleForm">
	<div class="modal-header">
		<h4>Delete Schedule?</h4>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>Date</dt>
			<dd>{{schedule.next_due_date | date:'dd/MM/yyyy'}}</dd>
			<dt ng-if="schedule.frequency">Frequency</dt>
			<dd ng-if="schedule.frequency">{{schedule.frequency}}</dd>
			<dt ng-if="schedule.schedule_account.name">Account</dt>
			<dd ng-if="schedule.schedule_account.name">{{schedule.schedule_account.name}}</dd>
			<dt ng-if="schedule.payee.name">Payee</dt>
			<dd ng-if="schedule.payee.name">{{schedule.payee.name}}</dd>
			<dt ng-if="schedule.security.name">Security</dt>
			<dd ng-if="schedule.security.name">{{schedule.security.name}}</dd>
			<dt ng-if="schedule.amount">Amount</dt>
			<dd ng-if="schedule.amount">{{schedule.amount | currency}}</dd>
			<dt ng-if="schedule.quantity">Quantity</dt>
			<dd ng-if="schedule.quantity">{{schedule.quantity | number}}</dd>
		</dl>
	</div>
	<div class="modal-footer">
			<span ng-if="errorMessage" class="text-danger">{{errorMessage}}</span>
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
			<button class="btn btn-danger" type="submit" ng-click="delete()">Delete</button>
	</div>
</form>
