{
	globals: {
		inject: false,
		sinon: false
	},
	rules: {
		// Best practices
		no-magic-numbers: 0,												// Disable due to lots of numbers used in assertions
		no-unused-expressions: 0,										// Disable to allow Chai should syntax

		// Stylistic issues
		max-nested-callbacks: [2, 7]
	}
}
