<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><i class="glyphicon glyphicon-home"></i> Loot</a>
		</div>
		<div ng-switch="isAuthenticated()" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active">
					<a ui-sref="root.accounts"><i class="glyphicon glyphicon-list-alt"></i> Accounts</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="root.schedules"><i class="glyphicon glyphicon-calendar"></i> Schedules</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="root.payees"><i class="glyphicon glyphicon-user"></i> Payees</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="root.categories"><i class="glyphicon glyphicon-tags"></i> Categories</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="root.securities"><i class="glyphicon glyphicon-globe"></i> Securities</a>
				</li>
			</ul>
			<button ng-switch-when="true" type="button" class="btn btn-default navbar-btn navbar-right" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</button>
			<button ng-switch-default type="button" class="btn btn-primary navbar-btn navbar-right" ng-click="login()"><i class="glyphicon glyphicon-log-in"></i> Login</button>
			<div class="col-sm-3 col-md-3 pull-right">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" ng-model="query" ng-focus="toggleNavigationGloballyDisabled(true)" ng-blur="toggleNavigationGloballyDisabled(false)">
						<span class="input-group-btn">
							<button type="submit"class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>
<div ng-if="!isAuthenticated()" class="alert alert-danger">You are not logged in. Click the Login button above to proceed.</div>
<ui-view autoscroll="false"/>
