<a id="top"></a>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/"><i class="glyphicon glyphicon-home"></i> Loot</a>
		</div>
		<div id="main-nav" ng-switch="authenticated" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown" ui-sref-active="active">
					<a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-list-alt"></i> Accounts <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a ui-sref="root.accounts" ui-sref-opts="{reload: true}">Account List</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Recent accounts</li>
						<li ng-repeat="account in recentlyAccessedAccounts()">
						<a ui-sref="root.accounts.account.transactions({id: account.id})">{{account.name}}</a>
						</li>
					</ul>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="root.schedules" ui-sref-opts="{reload: true}"><i class="glyphicon glyphicon-calendar"></i> Schedules</a>
				</li>
				<li class="dropdown" ui-sref-active="active">
					<a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Payees <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a ui-sref="root.payees" ui-sref-opts="{reload: true}">Payee List</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Recent payees</li>
						<li ng-repeat="payee in recentlyAccessedPayees()">
							<a ui-sref="root.payees.payee.transactions({id: payee.id})">{{payee.name}}</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ui-sref-active="active">
					<a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags"></i> Categories <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a ui-sref="root.categories" ui-sref-opts="{reload: true}">Category List</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Recent categories</li>
						<li ng-repeat="category in recentlyAccessedCategories()">
							<a ui-sref="root.categories.category.transactions({id: category.id})">{{category.name}}</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ui-sref-active="active">
					<a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-globe"></i> Securities <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a ui-sref="root.securities" ui-sref-opts="{reload: true}">Security List</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Recent securities</li>
						<li ng-repeat="security in recentlyAccessedSecurities()">
							<a ui-sref="root.securities.security.transactions({id: security.id})">{{security.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
			<button ng-switch-when="true" type="button" class="btn btn-default navbar-btn navbar-right" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</button>
			<button ng-switch-default type="button" class="btn btn-primary navbar-btn navbar-right" ng-click="login()"><i class="glyphicon glyphicon-log-in"></i> Login</button>
			<div class="col-sm-3 col-md-3 pull-right">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" ng-model="$root.query" ng-focus="toggleNavigationGloballyDisabled(true)" ng-blur="toggleNavigationGloballyDisabled(false)" og-input-autoselect>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default" ng-click="search()" ng-focus="toggleNavigationGloballyDisabled(true)" ng-blur="toggleNavigationGloballyDisabled(false)"><i class="glyphicon glyphicon-search"></i>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>
<div ng-if="!authenticated" class="alert alert-danger">You are not logged in. Click the Login button above to proceed.</div>
<div class="quickscroll bottom hidden-xs" tooltip="Bottom" tooltip-placement="left"><a ng-click="scrollTo('bottom')"><i class="glyphicon glyphicon-hand-down"></i></a></div>
<div class="quickscroll top hidden-xs" tooltip="Top" tooltip-placement="left"><a ng-click="scrollTo('top')"><i class="glyphicon glyphicon-hand-up"></i></a></div>
<ui-view ng-if="authenticated" autoscroll="false"></ui-view>
<a id="bottom"></a>
