---
name: CI

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  frontend:
    name: Test and lint frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install node
        uses: actions/setup-node@v5
        with:
          node-version-file: .tool-versions
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint and test
        run: npm test

      - name: Upload test coverage
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          tag: frontend
          files: coverage/frontend/lcov.info
          skip-errors: false
          validate-file-threshold: 100

  backend:
    name: Lint and test backend
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      DATABASE_URL: postgresql://postgres:postgres@localhost
      BUNDLE_WITHOUT: production

    services:
      postgres:
        image: postgres:17.5
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install ruby and gem dependencies
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup database
        run: bundle exec rake db:create db:migrate

      - name: Lint
        run: bundle exec rubocop

      - name: Scan
        run: bundle exec brakeman

      - name: Test
        run: bundle exec rake

      - name: Upload test coverage
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          tag: backend
          files: coverage/backend/.resultset.json
          skip-errors: false
          validate-file-threshold: 100
