- content_for :body do
  #account-ledger.container
    #{yield :more}
    %table#transactions.table.table-striped.table-bordered.table-hover.table-condensed
      %thead#transactions-header
        %th.transactionDate Date
        %th.details Details
        %th.amount Debit
        %th.amount Credit
        %th.amount Balance
      %tbody
        #{yield}

#{render :template => "layouts/application"}
